{% extends "base.html" %}
{% load static %}

{% block title %}Libro{% endblock %}
{% block content %}
<div>
  <span>Id</span>
  <span>{{ object.id }}</span>
</div>
<div>
  <span>Título</span>
  <span>{{ object.titulo }}</span>
</div>
<div>
  <span>Autor</span>
  <span>{{ object.autor }}</span>
</div>
<div>
  <span>Editor</span>
  <span>{{ object.editor }}</span>
</div>
<div>
  <span>Largo</span>
  <span>{{ object.largo }}</span>
</div>
<div>
  <span>Fecha</span>
  <span>{{ object.fecha }}</span>
</div>
<div>
  <span>Formato</span>
  <span>{{ object.formato }}</span>
</div>
<div>
  <span>Contenido</span>
  <span>{{ object.contenido }}</span>
</div>
<div>
  <span>Lenguaje</span>
  <span>{{ object.lenguaje }}</span>
</div>
{% endblock %}
