{% extends "base.html" %}
{% load static %}

{% block title %}Libros{% endblock %}
{% block content %}
<table>
  <thead>
    <th>Id</th>
    <th>Título</th>
    <th>Autor</th>
    <th>Editor</th>
    <th>Largo</th>
    <th>Fecha</th>
    <th>Formato</th>
    <th>Fecha</th>
    <th>Contenido</th>
    <th>Lenguaje</th>
    <th>Editar</th>
    <th>Eliminar</th>
  </thead>
  <tbody>
    {% for object in object_list %}
    <tr>
      <td>
	<a href="{% url 'generic_libro_detalles' object.id %}">{{ object.id }}</a>
      </td>
      <td>
	{{ object.titulo }}
      </td>
      <td>
	{{ object.autor }}
      </td>
      <td>
	{{ object.editor }}
      </td>
      <td>
	{{ object.largo }}
      </td>
      <td>
	{{ object.fecha }}
      </td>
      <td>
	{{ object.formato }}
      </td>
      <td>
	{{ object.contenido }}
      </td>
      <td>
	{{ object.duracion }}
      </td>
      <td>
	{{ object.lenguaje }}
      </td>
      <td>
	<a href="{% url 'generic_libro_editar' object.id %}" class="btn btn-primary">Editar</a>
      </td>
      <td>
	<a href="{% url 'generic_libro_eliminar' object.id %}" class="btn btn-danger">Eliminar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
