{% extends "base.html" %}
{% load static %}

{% block title %}Libros{% endblock %}
{% block content %}
<table>
  <thead>
    <th>Id</th>
    <th>Título</th>
    <th>Autor</th>
    <th>Editor</th>
    <th>Largo</th>
    <th>Fecha</th>
    <th>Formato</th>
    <th>Fecha</th>
    <th>Contenido</th>
    <th>Lenguaje</th>
    <th>Editar</th>
    <th>Eliminar</th>
  </thead>
  <tbody>
    {% for libro in libros %}
    <tr>
      <td>
	<a href="{% url 'libro_detalles' libro.id %}">{{ libro.id }}</a>
      </td>
      <td>
	{{ libro.titulo }}
      </td>
      <td>
	{{ libro.autor }}
      </td>
      <td>
	{{ libro.editor }}
      </td>
      <td>
	{{ libro.largo }}
      </td>
      <td>
	{{ libro.fecha }}
      </td>
      <td>
	{{ libro.formato }}
      </td>
      <td>
	{{ libro.contenido }}
      </td>
      <td>
	{{ libro.duracion }}
      </td>
      <td>
	{{ libro.lenguaje }}
      </td>
      <td>
	<a href="{% url 'libro_editar' libro.id %}" class="btn btn-primary">Editar</a>
      </td>
      <td>
	<a href="{% url 'libro_eliminar' libro.id %}" class="btn btn-danger">Eliminar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
