{% extends "base.html" %}
{% load static %}

{% block title %}Libro{% endblock %}
{% block content %}
<div>
  <span>Id</span>
  <span>{{ libro.id }}</span>
</div>
<div>
  <span>Título</span>
  <span>{{ libro.titulo }}</span>
</div>
<div>
  <span>Autor</span>
  <span>{{ libro.autor }}</span>
</div>
<div>
  <span>Editor</span>
  <span>{{ libro.editor }}</span>
</div>
<div>
  <span>Largo</span>
  <span>{{ libro.largo }}</span>
</div>
<div>
  <span>Fecha</span>
  <span>{{ libro.fecha }}</span>
</div>
<div>
  <span>Formato</span>
  <span>{{ libro.formato }}</span>
</div>
<div>
  <span>Contenido</span>
  <span>{{ libro.contenido }}</span>
</div>
<div>
  <span>Lenguaje</span>
  <span>{{ libro.lenguaje }}</span>
</div>
{% endblock %}
