{% extends "base.html" %}
{% load static %}

{% block title %}Sistema operativo{% endblock %}
{% block content %}
<div>
  <span>Id</span>
  <span>{{ object.id }}</span>
</div>
<div>
  <span>Nombre</span>
  <span>{{ object.nombre }}</span>
</div>
<div>
  <span>Base</span>
  <span>{{ object.base }}</span>
</div>
<div>
  <span>Origen</span>
  <span>{{ object.origen }}</span>
</div>
<div>
  <span>Arquitectura</span>
  <span>{{ object.arquitectura }}</span>
</div>
<div>
  <span>Categoria</span>
  <span>{{ object.categoria }}</span>
</div>
<div>
  <span>Escritorio</span>
  <span>{{ object.escritorio }}</span>
</div>
<div>
  <span>Estatus</span>
  <span>{{ object.estatus }}</span>
</div>
<div>
  <span>Popularidad</span>
  <span>{{ object.popularidad }}</span>
</div>
<div>
  <span>Rating</span>
  <span>{{ object.rating }}</span>
</div>
<div>
  <span>Fecha</span>
  <span>{{ object.fecha }}</span>
</div>
{% endblock %}
