{% extends "base.html" %}
{% load static %}

{% block title %}Eliminar sistema operativo{% endblock %}
{% block content %}
<h3>¿Desea eliminar sistema operativo {{ object.id }}?<h3>
  <form method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Eliminar</button>
  </form>
{% endblock %}