{% extends "base.html" %}
{% load static %}

{% block title %}Sistemas Operativos{% endblock %}
{% block content %}
<table>
  <thead>
    <th>Id</th>
    <th>Nombre</th>
    <th>Base</th>
    <th>Origen</th>
    <th>Arquitectura</th>
    <th>Categoria</th>
    <th>Escritorio</th>
    <th>Estatus</th>
    <th>Popularidad</th>
    <th>Rating</th>
    <th>Fecha</th>
    <th>Editar</th>
    <th>Eliminar</th>
  </thead>
  <tbody>
    {% for object in object_list %}
    <tr>
      <td>
	<a href="{% url 'generic_sistema_operativo_detalles' object.id %}">{{ object.id }}</a>
      </td>
      <td>
	{{ object.nombre }}
      </td>
      <td>
	{{ object.base }}
      </td>
      <td>
	{{ object.origen }}
      </td>
      <td>
	{{ object.arquitectura }}
      </td>
      <td>
	{{ object.categoria }}
      </td>
      <td>
	{{ object.escritorio }}
      </td>
      <td>
	{{ object.estatus }}
      </td>
      <td>
	{{ object.popularidad }}
      </td>
      <td>
	{{ object.rating }}
      </td>
      <td>
	{{ object.fecha }}
      </td>
      <td>
	<a href="{% url 'generic_sistema_operativo_editar' object.id %}" class="btn btn-primary">Editar</a>
      </td>
      <td>
	<a href="{% url 'generic_sistema_operativo_eliminar' object.id %}" class="btn btn-danger">Eliminar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
