{% extends "base.html" %}
{% load static %}

{% block title %}Sistemas Operativos{% endblock %}
{% block content %}
<table>
  <thead>
    <th>Id</th>
    <th>Nombre</th>
    <th>Base</th>
    <th>Origen</th>
    <th>Arquitectura</th>
    <th>Categoria</th>
    <th>Escritorio</th>
    <th>Estatus</th>
    <th>Popularidad</th>
    <th>Rating</th>
    <th>Fecha</th>
    <th>Editar</th>
    <th>Eliminar</th>
  </thead>
  <tbody>
    {% for sistema_operativo in sistemas_operativos %}
    <tr>
      <td>
	<a href="{% url 'sistema_operativo_detalles' sistema_operativo.id %}">{{ sistema_operativo.id }}</a>
      </td>
      <td>
	{{ sistema_operativo.nombre }}
      </td>
      <td>
	{{ sistema_operativo.base }}
      </td>
      <td>
	{{ sistema_operativo.origen }}
      </td>
      <td>
	{{ sistema_operativo.arquitectura }}
      </td>
      <td>
	{{ sistema_operativo.categoria }}
      </td>
      <td>
	{{ sistema_operativo.escritorio }}
      </td>
      <td>
	{{ sistema_operativo.estatus }}
      </td>
      <td>
	{{ sistema_operativo.popularidad }}
      </td>
      <td>
	{{ sistema_operativo.rating }}
      </td>
      <td>
	{{ sistema_operativo.fecha }}
      </td>
      <td>
	<a href="{% url 'sistema_operativo_editar' sistema_operativo.id %}" class="btn btn-primary">Editar</a>
      </td>
      <td>
	<a href="{% url 'sistema_operativo_eliminar' sistema_operativo.id %}" class="btn btn-danger">Eliminar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
