{% extends "base.html" %}
{% load static %}

{% block title %}Sistema operativo{% endblock %}
{% block content %}
<div>
  <span>Id</span>
  <span>{{ sistema_operativo.id }}</span>
</div>
<div>
  <span>Nombre</span>
  <span>{{ sistema_operativo.nombre }}</span>
</div>
<div>
  <span>Base</span>
  <span>{{ sistema_operativo.base }}</span>
</div>
<div>
  <span>Origen</span>
  <span>{{ sistema_operativo.origen }}</span>
</div>
<div>
  <span>Arquitectura</span>
  <span>{{ sistema_operativo.arquitectura }}</span>
</div>
<div>
  <span>Categoria</span>
  <span>{{ sistema_operativo.categoria }}</span>
</div>
<div>
  <span>Escritorio</span>
  <span>{{ sistema_operativo.escritorio }}</span>
</div>
<div>
  <span>Estatus</span>
  <span>{{ sistema_operativo.estatus }}</span>
</div>
<div>
  <span>Popularidad</span>
  <span>{{ sistema_operativo.popularidad }}</span>
</div>
<div>
  <span>Rating</span>
  <span>{{ sistema_operativo.rating }}</span>
</div>
<div>
  <span>Fecha</span>
  <span>{{ sistema_operativo.fecha }}</span>
</div>
{% endblock %}
