{% extends "base.html" %}
{% load static %}

{% block title %}Búsqueda de libros{% endblock %}
{% block content %}
<form>
  <h1>Búsqueda de canciones</h1>
  <div>
    <span>Título</span>
    <input type="text" placeholder="Título" />
  </div>
  <div>
    <span>Autor</span>
    <input type="text" placeholder="Autor" />
  </div>
  <div>
    <span>Duración</span>
    <input type="number" placeholder="Duración" />
  </div>
  <div>Fecha de lanzamiento</div>
  <div>
    <span>Fecha inicial</span>
    <input type="date" />
  </div>
  <div>
    <span>Fecha final</span>
    <input type="date" />
  </div>
  <div>
    <span>Palabra clave</span>
    <input type="text" placeholder="Palabra clave" />
  </div>
  <div>
    <span>Versión</span>
    <select>
      <option value="Radio">Radio</option>
      <option value="Acústica">Acústica</option>
    </select>
  </div>
  <div>Fecha de grabación</div>
  <div>
    <span>Fecha inicial</span>
    <input type="date" />
  </div>
  <div>
    <span>Fecha final</span>
    <input type="date" />
  </div>
  <div>
    <span>Lenguaje</span>
    <select>
      <option value="esp">Español</option>
      <option value="eng">Inglés</option>
    </select>
  </div>
  <input type="submit" value="Buscar" />
</form>
{% endblock %}
