{% extends "base.html" %}
{% load static %}

{% block title %}Buscar números primos{% endblock %}
{% block content %}
<form>
  <h1>Buscar números primos</h1>
  <div>
    <span>Descripción matemática</span>
    <input type="text" placeholder="e.g., 5*2^30000+1" />
  </div>
  <div>
    <span>Comentario de texto</span>
    <input type="text" placeholder="e.g., twin" />
  </div>
  <div>
    <span>Código de prueba</span>
    <input type="text" placeholder="e.g., C, o incluso C o D*" />
  </div>
  <div>Rango</div>
  <div>
    <span>Mínimo</span>
    <input type="number" placeholder="Rango mínimo" />
  </div>
  <div>
    <span>Máximo</span>
    <input type="number" placeholder="Rango máximo" />
  </div>
  <div>Dígitos</div>
  <div>
    <span>Mínimos</span>
    <input type="number" placeholder="Dígitos mínimos" />
  </div>
  <div>
    <span>Máximos</span>
    <input type="number" placeholder="Dígitos máximos" />
  </div>
  <div>Edad en días</div>
  <div>
    <span>Mínimo</span>
    <input type="number" placeholder="Días mínimos" />
  </div>
  <div>
    <span>Máximos</span>
    <input type="number" placeholder="Días máximos" />
  </div>
  <div>
    <span>Tipo</span>
    <select>
      <option value="verificados">Incluir solo verificados</option>
      <option value="no-verificados">Incluir no verificados</option>
    </select>
  </div>
  <input type="submit" value="Buscar" />
</form>
{% endblock %}
