{% extends "base.html" %}
{% load static %}

{% block title %}Búsqueda de sistemas operativos{% endblock %}
{% block content %}
<form>
  <h1>Búsqueda de sistemas operativos</h1>
  <div>
    <span>Nombre</span>
    <input type="text" placeholder="Nombre" />
  </div>
  <div>
    <span>Basado en</span>
    <select>
      <option value="Arch">Arch</option>
      <option value="Debian">Debian</option>
      <option value="Red hat">Red hat</option>
    </select>
  </div>
  <div>
    <span>Origen</span>
    <input type="text" placeholder="Origen" />
  </div>
  <div>
    <span>Arquitectura</span>
    <select>
      <option value="x86_64">x86_64</option>
      <option value="i686">i686</option>
    </select>
  </div>
  <div>
    <span>Categoria</span>
    <select>
      <option value="Escritorio">Escritorio</option>
      <option value="Live">Live</option>
    </select>
  </div>
  <div>
    <span>Escritorio</span>
    <select>
      <option value="XFCE">XFCE</option>
      <option value="GNOME">GNOME</option>
    </select>
  </div>
  <div>
    <span>Estatus</span>
    <select>
      <option value="Activo">Activo</option>
      <option value="Inactivo">Inactivo</option>
    </select>
  </div>
  <div>
    <span>Popularidad</span>
    <input type="number" placeholder="Popularidad" />
  </div>
  <div>
    <span>Rating</span>
    <input type="number" placeholder="Rating" />
  </div>
  <div>
    <span>Fecha de origen</span>
    <input type="date" />
  </div>
  <input type="submit" value="Buscar" />
</form>
{% endblock %}
