{% extends "base.html" %}
{% load static %}

{% block title %}Facturación{% endblock %}
{% block content %}
<form>
  <h1>Facturación</h1>
  <div>
    <span>RFC emisor</span>
    <input type="text" placeholder="RFC emisor" />
  </div>
  <div>
    <span>RFC receptor</span>
    <input type="text" placeholder="RFC receptor" />
  </div>
  <div>
    <span>Correo electrónico receptor</span>
    <input type="text" placeholder="Correo electrónico receptor" />
  </div>
  <div>
    <span>Concepto</span>
    <input type="text" placeholder="Concepto" />
  </div>
  <div>
    <span>Subtotal</span>
    <input type="number" placeholder="Importe" />
  </div>
  <div>
    <span>Total</span>
    <input type="number" placeholder="Importe" />
  </div>
  <div>
    <span>Impuesto</span>
    <input type="number" placeholder="Impuesto" />
  </div>
  <div>
    <span>Tipo de factor</span>
    <select>
      <option value="tasa">Tasa</option>
      <option value="cuota">Cuota</option>
      <option value="exento">Exento</option>
    </select>
  </div>
  <div>
    <span>Tasa o cuota</span>
    <select>
      <option value="16">16%</option>
      <option value="11">11%</option>
      <option value="0%">0%</option>
    </select>
  </div>
  <div>
    <span>Fecha</span>
    <input type="date" />
  </div>
  <input type="submit" value="Registrar" />
</form>
{% endblock %}
