{% extends "base.html" %}
{% load static %}

{% block title %}Registros{% endblock %}
{% block content %}
<table>
  <thead>
    <th>Número de control</th>
    <th>Nombres</th>
    <th>Apellidos</th>
    <th>Correo electrónico</th>
    <th>Número de máquina</th>
    <th>Carrera</th>
    <th>Uso</th>
    <th>Día</th>
    <th>Hora de entrada</th>
    <th>Hora de salida</th>
    <th>Editar</th>
    <th>Eliminar</th>
  </thead>
  <tbody>
    {% for object in object_list %}
    <tr>
      <td>
	<a href="{% url 'generic_registro_detalles' object.numero_control %}">{{ object.numero_control }}</a>
      </td>
      <td>
	{{ object.nombres }}
      </td>
      <td>
	{{ object.apellidos }}
      </td>
      <td>
	{{ object.correo_electronico }}
      </td>
      <td>
	{{ object.numero_maquina }}
      </td>
      <td>
	{{ object.carrera }}
      </td>
      <td>
	{{ object.uso }}
      </td>
      <td>
	{{ object.dia }}
      </td>
      <td>
	{{ object.hora_entrada }}
      </td>
      <td>
	{{ object.hora_salida }}
      </td>
      <td>
	<a href="{% url 'generic_registro_editar' object.numero_control %}" class="btn btn-primary">Editar</a>
      </td>
      <td>
	<a href="{% url 'generic_registro_eliminar' object.numero_control %}" class="btn btn-danger">Eliminar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
