{% extends "base.html" %}
{% load static %}

{% block title %}Eliminar registro{% endblock %}
{% block content %}
<h3>¿Desea eliminar registro {{ registro.numero_control }}?<h3>
  <form method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Eliminar</button>
  </form>
{% endblock %}