{% extends "base.html" %}
{% load static %}

{% block title %}Registro{% endblock %}
{% block content %}
<div>
  <span>Número de control</span>
  <span>{{ registro.numero_control }}</span>
</div>
<div>
  <span>Nombres</span>
  <span>{{ registro.nombres }}</span>
</div>
<div>
  <span>Apellidos</span>
  <span>{{ registro.apellidos }}</span>
</div>
<div>
  <span>Correo electrónico</span>
  <span>{{ registro.correo_electronico }}</span>
</div>
<div>
  <span>Número de máquina</span>
  <span>{{ registro.numero_maquina }}</span>
</div>
<div>
  <span>Carrera</span>
  <span>{{ registro.carrera }}</span>
</div>
<div>
  <span>Uso</span>
  <span>{{ registro.uso }}</span>
</div>
<div>
  <span>dia</span>
  <span>{{ registro.dia }}</span>
</div>
<div>
  <span>Hora de entrada</span>
  <span>{{ registro.hora_entrada }}</span>
</div>
<div>
  <span>Hora de salida</span>
  <span>{{ registro.hora_salida }}</span>
</div>
{% endblock %}
