{% extends "base.html" %}
{% load static %}

{% block title %}Registros{% endblock %}
{% block content %}
<table>
  <thead>
    <th>Número de control</th>
    <th>Nombres</th>
    <th>Apellidos</th>
    <th>Correo electrónico</th>
    <th>Número de máquina</th>
    <th>Carrera</th>
    <th>Uso</th>
    <th>Día</th>
    <th>Hora de entrada</th>
    <th>Hora de salida</th>
    <th>Editar</th>
    <th>Eliminar</th>
  </thead>
  <tbody>
    {% for registro in registros %}
    <tr>
      <td>
	<a href="{% url 'registro_detalles' registro.numero_control %}">{{ registro.numero_control }}</a>
      </td>
      <td>
	{{ registro.nombres }}
      </td>
      <td>
	{{ registro.apellidos }}
      </td>
      <td>
	{{ registro.correo_electronico }}
      </td>
      <td>
	{{ registro.numero_maquina }}
      </td>
      <td>
	{{ registro.carrera }}
      </td>
      <td>
	{{ registro.uso }}
      </td>
      <td>
	{{ registro.dia }}
      </td>
      <td>
	{{ registro.hora_entrada }}
      </td>
      <td>
	{{ registro.hora_salida }}
      </td>
      <td>
	<a href="{% url 'registro_editar' registro.numero_control %}" class="btn btn-primary">Editar</a>
      </td>
      <td>
	<a href="{% url 'registro_eliminar' registro.numero_control %}" class="btn btn-danger">Eliminar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
