{% extends "base.html" %}
{% load static %}

{% block title %}Eliminar paquete{% endblock %}
{% block content %}
<h3>¿Desea eliminar paquete {{ object.id }}?<h3>
  <form method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Eliminar</button>
  </form>
{% endblock %}