{% extends "base.html" %}
{% load static %}

{% block title %}Paquete{% endblock %}
{% block content %}
<div>
  <span>Id</span>
  <span>{{ object.id }}</span>
</div>
<div>
  <span>Nombre</span>
  <span>{{ object.nombre }}</span>
</div>
<div>
  <span>Versión</span>
  <span>{{ object.version }}</span>
</div>
<div>
  <span>Licencia</span>
  <span>{{ object.licencia }}</span>
</div>
<div>
  <span>Issues</span>
  <span>{{ object.issues }}</span>
</div>
<div>
  <span>Pull requests</span>
  <span>{{ object.pull_requests }}</span>
</div>
<div>
  <span>Sitio web</span>
  <span>{{ object.sitio_web }}</span>
</div>
<div>
  <span>Última actualización</span>
  <span>{{ object.ultima_actualizacion }}</span>
</div>
<div>
  <span>Descargas semanales</span>
  <span>{{ object.descargas_semanales }}</span>
</div>
{% endblock %}
