{% extends "base.html" %}
{% load static %}

{% block title %}Paquetes{% endblock %}
{% block content %}
<table>
  <thead>
    <th>Id</th>
    <th>Nombre</th>
    <th>Versión</th>
    <th>Licencia</th>
    <th>Issues</th>
    <th>Pull requests</th>
    <th>Sitio web</th>
    <th>Última actualización</th>
    <th>Descargas semanales</th>
    <th>Editar</th>
    <th>Eliminar</th>
  </thead>
  <tbody>
    {% for object in object_list %}
    <tr>
      <td>
	<a href="{% url 'generic_paquete_detalles' object.id %}">{{ object.id }}</a>
      </td>
      <td>
	{{ object.nombre }}
      </td>
      <td>
	{{ object.version }}
      </td>
      <td>
	{{ object.licencia }}
      </td>
      <td>
	{{ object.issues }}
      </td>
      <td>
	{{ object.pull_requests }}
      </td>
      <td>
	{{ object.sitio_web }}
      </td>
      <td>
	{{ object.ultima_actualizacion }}
      </td>
      <td>
	{{ object.descargas_semanales }}
      </td>
      <td>
	<a href="{% url 'generic_paquete_editar' object.id %}" class="btn btn-primary">Editar</a>
      </td>
      <td>
	<a href="{% url 'generic_paquete_eliminar' object.id %}" class="btn btn-danger">Eliminar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
