{% extends "base.html" %}
{% load static %}

{% block title %}Paquetes{% endblock %}
{% block content %}
<table>
  <thead>
    <th>Id</th>
    <th>Nombre</th>
    <th>Versión</th>
    <th>Licencia</th>
    <th>Issues</th>
    <th>Pull requests</th>
    <th>Sitio web</th>
    <th>Última actualización</th>
    <th>Descargas semanales</th>
    <th>Editar</th>
    <th>Eliminar</th>
  </thead>
  <tbody>
    {% for paquete in paquetes %}
    <tr>
      <td>
	<a href="{% url 'paquete_detalles' paquete.id %}">{{ paquete.id }}</a>
      </td>
      <td>
	{{ paquete.nombre }}
      </td>
      <td>
	{{ paquete.version }}
      </td>
      <td>
	{{ paquete.licencia }}
      </td>
      <td>
	{{ paquete.issues }}
      </td>
      <td>
	{{ paquete.pull_requests }}
      </td>
      <td>
	{{ paquete.sitio_web }}
      </td>
      <td>
	{{ paquete.ultima_actualizacion }}
      </td>
      <td>
	{{ paquete.descargas_semanales }}
      </td>
      <td>
	<a href="{% url 'paquete_editar' paquete.id %}" class="btn btn-primary">Editar</a>
      </td>
      <td>
	<a href="{% url 'paquete_eliminar' paquete.id %}" class="btn btn-danger">Eliminar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
