{% extends "base.html" %}
{% load static %}

{% block title %}Paquete{% endblock %}
{% block content %}
<div>
  <span>Id</span>
  <span>{{ paquete.id }}</span>
</div>
<div>
  <span>Nombre</span>
  <span>{{ paquete.nombre }}</span>
</div>
<div>
  <span>Versión</span>
  <span>{{ paquete.version }}</span>
</div>
<div>
  <span>Licencia</span>
  <span>{{ paquete.licencia }}</span>
</div>
<div>
  <span>Issues</span>
  <span>{{ paquete.issues }}</span>
</div>
<div>
  <span>Pull requests</span>
  <span>{{ paquete.pull_requests }}</span>
</div>
<div>
  <span>Sitio web</span>
  <span>{{ paquete.sitio_web }}</span>
</div>
<div>
  <span>Última actualización</span>
  <span>{{ paquete.ultima_actualizacion }}</span>
</div>
<div>
  <span>Descargas semanales</span>
  <span>{{ paquete.descargas_semanales }}</span>
</div>
{% endblock %}
