{% extends "base.html" %}
{% load static %}

{% block title %}Eliminar número primo{% endblock %}
{% block content %}
<h3>¿Desea eliminar número primo {{ object.numero }}?<h3>
  <form method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Eliminar</button>
  </form>
{% endblock %}