{% extends "base.html" %}
{% load static %}

{% block title %}Número Primo{% endblock %}
{% block content %}
<div>
  <span>Número</span>
  <span>{{ object.numero }}</span>
</div>
<div>
  <span>Descripción matemática</span>
  <span>{{ object.descripcion_matematica }}</span>
</div>
<div>
  <span>Comentario</span>
  <span>{{ object.comentario }}</span>
</div>
<div>
  <span>Código de prueba</span>
  <span>{{ object.codigo_prueba }}</span>
</div>
<div>
  <span>Digitos</span>
  <span>{{ object.digitos }}</span>
</div>
<div>
  <span>Fecha</span>
  <span>{{ object.fecha }}</span>
</div>
<div>
  <span>Tipo</span>
  <span>{{ object.tipo }}</span>
</div>
{% endblock %}
