{% extends "base.html" %}
{% load static %}

{% block title %}Números primos{% endblock %}
{% block content %}
<table>
  <thead>
    <th>Número</th>
    <th>Descripción matemática</th>
    <th>Comentario</th>
    <th>Código de prueba</th>
    <th>Digitos</th>
    <th>Fecha</th>
    <th>Tipo</th>
    <th>Editar</th>
    <th>Eliminar</th>
  </thead>
  <tbody>
    {% for object in object_list %}
    <tr>
      <td>
	<a href="{% url 'generic_primos_detalles' object.numero %}">{{ object.numero }}</a>
      </td>
      <td>
	{{ object.descripcion_matematica }}
      </td>
      <td>
	{{ object.comentario }}
      </td>
      <td>
	{{ object.codigo_prueba }}
      </td>
      <td>
	{{ object.digitos }}
      </td>
      <td>
	{{ object.fecha }}
      </td>
      <td>
	{{ object.tipo }}
      </td>
      <td>
	<a href="{% url 'generic_primos_editar' object.numero %}" class="btn btn-primary">Editar</a>
      </td>
      <td>
	<a href="{% url 'generic_primos_eliminar' object.numero %}" class="btn btn-danger">Eliminar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
