{% extends "base.html" %}
{% load static %}

{% block title %}Números primos{% endblock %}
{% block content %}
<table>
  <thead>
    <th>Número</th>
    <th>Descripción matemática</th>
    <th>Comentario</th>
    <th>Código de prueba</th>
    <th>Digitos</th>
    <th>Fecha</th>
    <th>Tipo</th>
    <th>Editar</th>
    <th>Eliminar</th>
  </thead>
  <tbody>
    {% for primo in primos %}
    <tr>
      <td>
	<a href="{% url 'primos_detalles' primo.numero %}">{{ primo.numero }}</a>
      </td>
      <td>
	{{ primo.descripcion_matematica }}
      </td>
      <td>
	{{ primo.comentario }}
      </td>
      <td>
	{{ primo.codigo_prueba }}
      </td>
      <td>
	{{ primo.digitos }}
      </td>
      <td>
	{{ primo.fecha }}
      </td>
      <td>
	{{ primo.tipo }}
      </td>
      <td>
	<a href="{% url 'primos_editar' primo.numero %}" class="btn btn-primary">Editar</a>
      </td>
      <td>
	<a href="{% url 'primos_eliminar' primo.numero %}" class="btn btn-danger">Eliminar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
