{% extends "base.html" %}
{% load static %}

{% block title %}Número Primo{% endblock %}
{% block content %}
<div>
  <span>Número</span>
  <span>{{ primo.numero }}</span>
</div>
<div>
  <span>Descripción matemática</span>
  <span>{{ primo.descripcion_matematica }}</span>
</div>
<div>
  <span>Comentario</span>
  <span>{{ primo.comentario }}</span>
</div>
<div>
  <span>Código de prueba</span>
  <span>{{ primo.codigo_prueba }}</span>
</div>
<div>
  <span>Digitos</span>
  <span>{{ primo.digitos }}</span>
</div>
<div>
  <span>Fecha</span>
  <span>{{ primo.fecha }}</span>
</div>
<div>
  <span>Tipo</span>
  <span>{{ primo.tipo }}</span>
</div>
{% endblock %}
