{% extends "base.html" %}
{% load static %}

{% block title %}Película{% endblock %}
{% block content %}
<div>
  <span>Id</span>
  <span>{{ object.id }}</span>
</div>
<div>
  <span>Título</span>
  <span>{{ object.titulo }}</span>
</div>
<div>
  <span>Director</span>
  <span>{{ object.director }}</span>
</div>
<div>
  <span>Productor</span>
  <span>{{ object.productor }}</span>
</div>
<div>
  <span>Música por</span>
  <span>{{ object.musica_por }}</span>
</div>
<div>
  <span>Empresa producción</span>
  <span>{{ object.empresa_produccion }}</span>
</div>
<div>
  <span>Empresa distribución</span>
  <span>{{ object.empresa_distribucion }}</span>
</div>
<div>
  <span>Fecha</span>
  <span>{{ object.fecha }}</span>
</div>
<div>
  <span>Duración</span>
  <span>{{ object.duracion }}</span>
</div>
<div>
  <span>País</span>
  <span>{{ object.pais }}</span>
</div>
<div>
  <span>Presupuesto</span>
  <span>{{ object.presupuesto }}</span>
</div>
{% endblock %}
