{% extends "base.html" %}
{% load static %}

{% block title %}Películas{% endblock %}
{% block content %}
<table>
  <thead>
    <th>Id</th>
    <th>Título</th>
    <th>Director</th>
    <th>Productor</th>
    <th>Música por</th>
    <th>Empresa de producción</th>
    <th>Empresa de distribución</th>
    <th>Fecha</th>
    <th>Duración</th>
    <th>País</th>
    <th>Presupuesto</th>
    <th>Editar</th>
    <th>Eliminar</th>
  </thead>
  <tbody>
    {% for object in object_list %}
    <tr>
      <td>
	<a href="{% url 'generic_pelicula_detalles' object.id %}">{{ object.id }}</a>
      </td>
      <td>
	{{ object.titulo }}
      </td>
      <td>
	{{ object.director }}
      </td>
      <td>
	{{ object.productor }}
      </td>
      <td>
	{{ object.musica_por }}
      </td>
      <td>
	{{ object.empresa_produccion }}
      </td>
      <td>
	{{ object.empresa_distribucion }}
      </td>
      <td>
	{{ object.fecha }}
      </td>
      <td>
	{{ object.duracion }}
      </td>
      <td>
	{{ object.pais }}
      </td>
      <td>
	{{ object.presupuesto }}
      </td>
      <td>
	<a href="{% url 'generic_pelicula_editar' object.id %}" class="btn btn-primary">Editar</a>
      </td>
      <td>
	<a href="{% url 'generic_pelicula_eliminar' object.id %}" class="btn btn-danger">Eliminar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
