{% extends "base.html" %}
{% load static %}

{% block title %}Películas{% endblock %}
{% block content %}
<table>
  <thead>
    <th>Id</th>
    <th>Título</th>
    <th>Director</th>
    <th>Productor</th>
    <th>Música por</th>
    <th>Empresa de producción</th>
    <th>Empresa de distribución</th>
    <th>Fecha</th>
    <th>Duración</th>
    <th>País</th>
    <th>Presupuesto</th>
    <th>Editar</th>
    <th>Eliminar</th>
  </thead>
  <tbody>
    {% for pelicula in peliculas %}
    <tr>
      <td>
	<a href="{% url 'pelicula_detalles' pelicula.id %}">{{ pelicula.id }}</a>
      </td>
      <td>
	{{ pelicula.titulo }}
      </td>
      <td>
	{{ pelicula.director }}
      </td>
      <td>
	{{ pelicula.productor }}
      </td>
      <td>
	{{ pelicula.musica_por }}
      </td>
      <td>
	{{ pelicula.empresa_produccion }}
      </td>
      <td>
	{{ pelicula.empresa_distribucion }}
      </td>
      <td>
	{{ pelicula.fecha }}
      </td>
      <td>
	{{ pelicula.duracion }}
      </td>
      <td>
	{{ pelicula.pais }}
      </td>
      <td>
	{{ pelicula.presupuesto }}
      </td>
      <td>
	<a href="{% url 'pelicula_editar' pelicula.id %}" class="btn btn-primary">Editar</a>
      </td>
      <td>
	<a href="{% url 'pelicula_eliminar' pelicula.id %}" class="btn btn-danger">Eliminar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
