{% extends "base.html" %}
{% load static %}

{% block title %}Película{% endblock %}
{% block content %}
<div>
  <span>Id</span>
  <span>{{ pelicula.id }}</span>
</div>
<div>
  <span>Título</span>
  <span>{{ pelicula.titulo }}</span>
</div>
<div>
  <span>Director</span>
  <span>{{ pelicula.director }}</span>
</div>
<div>
  <span>Productor</span>
  <span>{{ pelicula.productor }}</span>
</div>
<div>
  <span>Música por</span>
  <span>{{ pelicula.musica_por }}</span>
</div>
<div>
  <span>Empresa producción</span>
  <span>{{ pelicula.empresa_produccion }}</span>
</div>
<div>
  <span>Empresa distribución</span>
  <span>{{ pelicula.empresa_distribucion }}</span>
</div>
<div>
  <span>Fecha</span>
  <span>{{ pelicula.fecha }}</span>
</div>
<div>
  <span>Duración</span>
  <span>{{ pelicula.duracion }}</span>
</div>
<div>
  <span>País</span>
  <span>{{ pelicula.pais }}</span>
</div>
<div>
  <span>Presupuesto</span>
  <span>{{ pelicula.presupuesto }}</span>
</div>
{% endblock %}
