{% extends "base.html" %}
{% load static %}

{% block title %}Registro de películas{% endblock %}
{% block content %}
<form>
  <h1>Registro de películas</h1>
  <div>
    <span>Título</span>
    <input type="text" placeholder="Título" />
  </div>
  <div>
    <span>Director</span>
    <input type="text" placeholder="Director" />
  </div>
  <div>
    <span>Productor</span>
    <input type="text" placeholder="Productor" />
  </div>
  <div>
    <span>Música por</span>
    <input type="text" placeholder="Música por" />
  </div>
  <div>
    <span>Compañía de producción</span>
    <input type="text" placeholder="Compañía de producción" />
  </div>
  <div>
    <span>Distribuido por</span>
    <input type="text" placeholder="Distribuido por" />
  </div>
  <div>
    <span>Fecha</span>
    <input type="date" />
  </div>
  <div>
    <span>Duración</span>
    <input type="number" placeholder="Duración" />
  </div>
  <div>
    <span>País</span>
    <input type="text" placeholder="País" />
  </div>
  <div>
    <span>Presupuesto</span>
    <input type="number" placeholder="Presupuesto" />
  </div>
  <input type="submit" value="Registrar" />
</form>
{% endblock %}
