{% extends "base.html" %}
{% load static %}

{% block title %}Signup{% endblock %}
{% block content %}
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <button class="btn btn-primary" type="submit">Signup</button>
</form>
{% endblock %}