{% extends "base.html" %}
{% load static %}

{% block title %}Alumno{% endblock %}
{% block content %}
<div>
  <span>Nombres</span>
  <span>{{ alumno.nombre }}</span>
</div>
<div>
  <span>Apellidos</span>
  <span>{{ alumno.apellidos }}</span>
</div>
<div>
  <span>Género</span>
  <span>{{ alumno.genero }}</span>
</div>
<div>
  <span>Clave CURP</span>
  <span>{{ alumno.curp }}</span>
</div>
<div>
  <span>Correo electrónico</span>
  <span>{{ alumno.correo_electronico }}</span>
</div>
<div>
  <span>Teléfono domicilio</span>
  <span>{{ alumno.telefono_domicilio }}</span>
</div>
<div>
  <span>Teléfono celular</span>
  <span>{{ alumno.telefono_celular }}</span>
</div>
<div>
  <span>Número de control</span>
  <span>{{ alumno.control }}</span>
</div>
<div>
  <span>Carrera</span>
  <span>{{ alumno.carrera }}</span></div>
<div>
  <span>Semestre</span>
  <span>{{ alumno.semestre }}</span></div>
</div>
{% endblock %}
