{% extends "base.html" %}
{% load static %}

{% block title %}Alumnos{% endblock %}
{% block content %}
<table>
  <thead>
    <th>Nombres</th>
    <th>Apellidos</th>
    <th>Género</th>
    <th>Clave CURP</th>
    <th>Correo electrónico</th>
    <th>Teléfono domicilio</th>
    <th>Teléfono celular</th>
    <th>Número de control</th>
    <th>Carrera</th>
    <th>Semestre</th>
    <th>Editar</th>
    <th>Eliminar</th>
  </thead>
  <tbody>
    {% for alumno in alumnos %}
    <tr>
      <td>
	{{ alumno.nombre }}
      </td>
      <td>
	{{ alumno.apellidos }}
      </td>
      <td>
	{{ alumno.genero }}
      </td>
      <td>
	{{ alumno.curp }}
      </td>
      <td>
	{{ alumno.correo_electronico }}
      </td>
      <td>
	{{ alumno.telefono_domicilio }}
      </td>
      <td>
	{{ alumno.telefono_celular }}
      </td>
      <td>
	<a href="{% url 'alumno_detalles' alumno.numero_control %}">{{ alumno.numero_control }}</a>
      </td>
      <td>
	{{ alumno.carrera }}
      <td>
	{{ alumno.semestre }}
      </td>
      <td>
	<a href="{% url 'alumno_editar' alumno.numero_control %}" class="btn btn-primary">Editar</a>
      </td>
      <td>
	<a href="{% url 'alumno_eliminar' alumno.numero_control %}" class="btn btn-danger">Eliminar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{{ foo }}
{{ bar }}
{% endblock %}
