{% extends "base.html" %}
{% load static %}

{% block title %}Eliminar alumno{% endblock %}
{% block content %}
<h3>¿Desea eliminar alumno {{ alumno.numero_control }}?<h3>
<form method="POST">
  {% csrf_token %}
  <button type="submit" class="btn btn-danger">Eliminar</button>
</form>
{% endblock %}
