{% extends "base.html" %}
{% load static %}

{% block title %}Alumnos{% endblock %}
{% block content %}
<table>
  <thead>
    <th>Nombres</th>
    <th>Apellidos</th>
    <th>Género</th>
    <th>Clave CURP</th>
    <th>Correo electrónico</th>
    <th>Teléfono domicilio</th>
    <th>Teléfono celular</th>
    <th>Número de control</th>
    <th>Carrera</th>
    <th>Semestre</th>
    <th>Editar</th>
    <th>Eliminar</th>
  </thead>
  <tbody>
    {% for object in object_list %}
    <tr>
      <td>
	{{ object.nombre }}
      </td>
      <td>
	{{ object.apellidos }}
      </td>
      <td>
	{{ object.genero }}
      </td>
      <td>
	{{ object.curp }}
      </td>
      <td>
	{{ object.correo_electronico }}
      </td>
      <td>
	{{ object.telefono_domicilio }}
      </td>
      <td>
	{{ object.telefono_celular }}
      </td>
      <td>
	<a href="{% url 'generic_alumno_detalles' object.numero_control %}">{{ object.numero_control }}</a>
      </td>
      <td>
	{{ object.carrera }}
      <td>
	{{ object.semestre }}
      </td>
      <td>
	<a href="{% url 'generic_alumno_editar' object.numero_control %}" class="btn btn-primary">Editar</a>
      </td>
      <td>
	<a href="{% url 'generic_alumno_eliminar' object.numero_control %}" class="btn btn-danger">Eliminar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
