{% extends "base.html" %}
{% load static %}

{% block title %}Alumno{% endblock %}
{% block content %}
<div>
  <span>Nombres</span>
  <span>{{ object.nombre }}</span>
</div>
<div>
  <span>Apellidos</span>
  <span>{{ object.apellidos }}</span>
</div>
<div>
  <span>Género</span>
  <span>{{ object.genero }}</span>
</div>
<div>
  <span>Clave CURP</span>
  <span>{{ object.curp }}</span>
</div>
<div>
  <span>Correo electrónico</span>
  <span>{{ object.correo_electronico }}</span>
</div>
<div>
  <span>Teléfono domicilio</span>
  <span>{{ object.telefono_domicilio }}</span>
</div>
<div>
  <span>Teléfono celular</span>
  <span>{{ object.telefono_celular }}</span>
</div>
<div>
  <span>Número de control</span>
  <span>{{ object.control }}</span>
</div>
<div>
  <span>Carrera</span>
  <span>{{ object.carrera }}</span></div>
<div>
  <span>Semestre</span>
  <span>{{ object.semestre }}</span></div>
</div>
{% endblock %}
