{% extends "base.html" %}
{% load static %}

{% block title %}Búsqueda de paquetes de JavaScript{% endblock %}
{% block content %}
<form>
  <h1>Búsqueda de paquetes de JavaScript</h1>
  <div>
    <span>Nombre</span>
    <input type="text" placeholder="Nombre" />
  </div>
  <div>
    <span>Versión</span>
    <input type="text" placeholder="Versión" />
  </div>
  <div>
    <span>Licencia</span>
    <select>
      <option value="MIT">MIT</option>
      <option value="GPL">GPL</option>
      <option value="BSD">BSD</option>
    </select>
  </div>
  <div>
    <span>Issues</span>
    <input type="number" placeholder="Issues" />
  </div>
  <div>
    <span>Pull requests</span>
    <input type="number" placeholder="Pull requests" />
  </div>
  <div>
    <span>Sitio web</span>
    <select>
      <option value="github">github</option>
      <option value="gitlab">gitlab</option>
      <option value="bitbucket">bitbucket</option>
    </select>
  </div>
  <div>
    <span>Última actualización</span>
    <input type="date" />
  </div>
  <div>
    <span>Palabra clave</span>
    <input type="text" placeholder="Palabra clave" />
  </div>
  <div>Descargas semanales</div>
  <div>
    <span>Mínimas</span>
    <input type="number" placeholder="Descargas semanales mínimas" />
  </div>
  <div>
    <span>Máximas</span>
    <input type="number" placeholder="Descargas semanales máximas" />
  </div>
  <input type="submit" value="Buscar" />
</form>
{% endblock %}
