{% extends "base.html" %}
{% load static %}

{% block title %}Registro de laboratorio de cómputo{% endblock %}
{% block content %}
<form>
  <h1>Registro de laboratorio de cómputo</h1>
  <div>
    <span>Nombres</span>
    <input type="text" placeholder="Nombres" />
  </div>
  <div>
    <span>Apellidos</span>
    <input type="text" placeholder="Apellidos" />
  </div>
  <div>
    <span>Correo electrónico</span>
    <input type="text" placeholder="Correo electrónico" />
  </div>
  <div>
    <span>Número de control</span>
    <input type="text" placeholder="Número de control" />
  </div>
  <div>
    <span>Número de máquina</span>
    <input type="number" placeholder="Número de máquina" />
  </div>
  <div>
    <span>Carrera</span>
    <select>
      <option value="ISC">ISC</option>
      <option value="IND">IND</option>
    </select>
  </div>
  <div>
    <span>Uso</span>
    <select>
      <option value="Recreativo">Recreativo</option>
      <option value="Tarea">Tarea</option>
    </select>
  </div>
  <div>
    <span>Día</span>
    <input type="date" />
  </div>
  <div>
    <span>Hora de entrada</span>
    <input type="time" />
  </div>
  <div>
    <span>Hora de salida</span>
    <input type="time" />
  </div>
  <input type="submit" value="Registrar" />
</form>
{% endblock %}
