{% extends "base.html" %}
{% load static %}

{% block title %}Búsqueda de libros{% endblock %}
{% block content %}
<form>
  <h1>Búsqueda de libros</h1>
  <div>
    <span>Título</span>
    <input type="text" placeholder="Título" />
  </div>
  <div>
    <span>Autor</span>
    <input type="text" placeholder="Autor" />
  </div>
  <div>
    <span>Editor</span>
    <input type="text" placeholder="Editor" />
  </div>
  <div>
    <span>Largo</span>
    <input type="text" placeholder="Largo" />
  </div>
  <div>Fecha de publicación</div>
  <div>
    <span>Fecha inicial</span>
    <input type="date" />
  </div>
  <div>
    <span>Fecha final</span>
    <input type="date" />
  </div>
  <div>
    <span>Palabra clave</span>
    <input type="text" placeholder="Palabra clave" />
  </div>
  <div>
    <span>Formato</span>
    <select>
      <option value="Impreso">Impreso</option>
      <option value="Digital">Digital</option>
    </select>
  </div>
  <div>
    <span>Contenido</span>
    <select>
      <option value="Ficción">Ficción</option>
      <option value="Tesis">Tesis</option>
    </select>
  </div>
  <div>
    <span>Lenguaje</span>
    <select>
      <option value="esp">Español</option>
      <option value="eng">Inglés</option>
    </select>
  </div>
  <input type="submit" value="Buscar" />
</form>
{% endblock %}
