{% extends "base.html" %}
{% load static %}

{% block title %}Factura{% endblock %}
{% block content %}
<div>
  <span>Id</span>
  <span>{{ factura.id }}</span>
</div>
<div>
  <span>Emisor</span>
  <span>{{ factura.rfc_emisor }}</span>
</div>
<div>
  <span>Receptor</span>
  <span>{{ factura.rfc_receptor }}</span>
</div>
<div>
  <span>Correo electrónico</span>
  <span>{{ factura.correo_electronico }}</span>
</div>
<div>
  <span>Concepto</span>
  <span>{{ factura.concepto }}</span>
</div>
<div>
  <span>Subtotal</span>
  <span>{{ factura.subtotal }}</span>
</div>
<div>
  <span>Total</span>
  <span>{{ factura.total }}</span>
</div>
<div>
  <span>Impuesto</span>
  <span>{{ factura.impuesto }}</span>
</div>
<div>
  <span>Tipo factor</span>
  <span>{{ factura.tipo_factor }}</span>
</div>
<div>
  <span>Tasa cuota</span>
  <span>{{ factura.tasa_cuota }}</span>
</div>
<div>
  <span>Fecha</span>
  <span>{{ factura.fecha }}</span>
</div>
{% endblock %}
