{% extends "base.html" %}
{% load static %}

{% block title %}Facturas{% endblock %}
{% block content %}
<table>
  <thead>
    <th>Id</th>
    <th>Emisor</th>
    <th>Receptor</th>
    <th>Correo electrónico</th>
    <th>Concepto</th>
    <th>Subtotal</th>
    <th>Total</th>
    <th>Impuesto</th>
    <th>Tipo factor</th>
    <th>Tasa cuota</th>
    <th>Fecha</th>
    <th>Editar</th>
    <th>Eliminar</th>
  </thead>
  <tbody>
    {% for factura in facturas %}
    <tr>
      <td>
	<a href="{% url 'factura_detalles' factura.id %}">{{ factura.id }}</a>
      </td>
      <td>
	{{ factura.rfc_emisor }}
      </td>
      <td>
	{{ factura.rfc_receptor }}
      </td>
      <td>
	{{ factura.correo_electronico }}
      </td>
      <td>
	{{ factura.concepto }}
      </td>
      <td>
	{{ factura.subtotal }}
      </td>
      <td>
	{{ factura.total }}
      </td>
      <td>
	{{ factura.impuesto }}
      </td>
      <td>
	{{ factura.tipo_factor }}
      </td>
      <td>
	{{ factura.tasa_cuota }}
      </td>
      <td>
	{{ factura.fecha }}
      </td>
      <td>
	<a href="{% url 'factura_editar' factura.id %}" class="btn btn-primary">Editar</a>
      </td>
      <td>
	<a href="{% url 'factura_eliminar' factura.id %}" class="btn btn-danger">Eliminar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
