{% extends "base.html" %}
{% load static %}

{% block title %}Factura{% endblock %}
{% block content %}
<div>
  <span>Id</span>
  <span>{{ object.id }}</span>
</div>
<div>
  <span>Emisor</span>
  <span>{{ object.rfc_emisor }}</span>
</div>
<div>
  <span>Receptor</span>
  <span>{{ object.rfc_receptor }}</span>
</div>
<div>
  <span>Correo electrónico</span>
  <span>{{ object.correo_electronico }}</span>
</div>
<div>
  <span>Concepto</span>
  <span>{{ object.concepto }}</span>
</div>
<div>
  <span>Subtotal</span>
  <span>{{ object.subtotal }}</span>
</div>
<div>
  <span>Total</span>
  <span>{{ object.total }}</span>
</div>
<div>
  <span>Impuesto</span>
  <span>{{ object.impuesto }}</span>
</div>
<div>
  <span>Tipo factor</span>
  <span>{{ object.tipo_factor }}</span>
</div>
<div>
  <span>Tasa cuota</span>
  <span>{{ object.tasa_cuota }}</span>
</div>
<div>
  <span>Fecha</span>
  <span>{{ object.fecha }}</span>
</div>
{% endblock %}
