{% extends "base.html" %}
{% load static %}

{% block title %}Facturas{% endblock %}
{% block content %}
<table>
  <thead>
    <th>Id</th>
    <th>Emisor</th>
    <th>Receptor</th>
    <th>Correo electrónico</th>
    <th>Concepto</th>
    <th>Subtotal</th>
    <th>Total</th>
    <th>Impuesto</th>
    <th>Tipo factor</th>
    <th>Tasa cuota</th>
    <th>Fecha</th>
    <th>Editar</th>
    <th>Eliminar</th>
  </thead>
  <tbody>
    {% for object in object_list %}
    <tr>
      <td>
	<a href="{% url 'generic_factura_detalles' object.id %}">{{ object.id }}</a>
      </td>
      <td>
	{{ object.rfc_emisor }}
      </td>
      <td>
	{{ object.rfc_receptor }}
      </td>
      <td>
	{{ object.correo_electronico }}
      </td>
      <td>
	{{ object.concepto }}
      </td>
      <td>
	{{ object.subtotal }}
      </td>
      <td>
	{{ object.total }}
      </td>
      <td>
	{{ object.impuesto }}
      </td>
      <td>
	{{ object.tipo_factor }}
      </td>
      <td>
	{{ object.tasa_cuota }}
      </td>
      <td>
	{{ object.fecha }}
      </td>
      <td>
	<a href="{% url 'generic_factura_editar' object.id %}" class="btn btn-primary">Editar</a>
      </td>
      <td>
	<a href="{% url 'generic_factura_eliminar' object.id %}" class="btn btn-danger">Eliminar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
