{% extends "base.html" %}
{% load static %}

{% block title %}Alta de usuarios{% endblock %}
{% block content %}
<form>
  <h1>Alta de usuarios</h1>
  <div>
    <span>Nombres</span>
    <input type="text" placeholder="Nombres" />
  </div>
  <div>
    <span>Apellidos</span>
    <input type="text" placeholder="Apellidos" />
  </div>
  <div>
    <span>Género</span>
    <input type="radio" value="M" /> <span>Masculino</span>
    <input type="radio" value="F" /> <span>Femenino</span>
  </div>
  <div>
    <span>Correo electrónico</span>
    <input type="text" placeholder="Correo electrónico" />
  </div>
  <div>
    <span>Teléfono</span>
    <input type="text" placeholder="Teléfono" />
  </div>
  <div>
    <span>Nombre de usuario</span>
    <input type="text" placeholder="Nombre de usuario" />
  </div>
  <div>
    <span>Contraseña</span>
    <input type="password" placeholder="Contraseña" />
  </div>
  <div>
    <span>Confirmación de contraseña</span>
    <input type="password" placeholder="Confirmación de contraseña" />
  </div>
  <div>
    <input type="checkbox" />
    <span>He leído y acepto los términos y condiciones</span>
  </div>
  <div>
    <input type="checkbox" />
    <span
    >Deseo proporcionar información anónima sobre el uso de la
      aplicación</span
		>
  </div>
  <input type="submit" value="Registrar" />
</form>
{% endblock %}
