{% extends "base.html" %}
{% load static %}

{% block title %}Alta de alumnos{% endblock %}
{% block content %}

<img src="{% static "django-pony.png" %}" alt="django-pony">
<form>
  <h1>Alta de alumnos</h1>
  <div>
    <span>Nombres</span>
    <input type="text" placeholder="Nombres" />
  </div>
  <div>
    <span>Apellidos</span>
    <input type="text" placeholder="Apellidos" />
  </div>
  <div>
    <span>Género</span>
    <input type="radio" value="M" /> <span>Masculino</span>
    <input type="radio" value="F" /> <span>Femenino</span>
  </div>
  <div>
    <span>Clave CURP</span>
    <input type="text" placeholder="Clave CURP" />
  </div>
  <div>
    <span>Correo electrónico</span>
    <input type="text" placeholder="Correo electrónico" />
  </div>
  <div>
    <span>Teléfono domicilio</span>
    <input type="text" placeholder="Teléfono domicilio" />
  </div>
  <div>
    <span>Teléfono celular</span>
    <input type="text" placeholder="Teléfono celular" />
  </div>
  <div>
    <span>Número de control</span>
    <input type="text" placeholder="Número de control" />
  </div>
  <div>
    <span>Carrera</span>
    <select>
      <option value="ISC">ISC</option>
      <option value="IND">IND</option>
    </select>
  </div>
  <div>
    <span>Semestre</span>
    <input type="number" placeholder="Semestre" />
  </div>
  <input type="submit" value="Registrar" />
</form>
{% endblock %}
