{% extends "base.html" %}
{% load static %}

{% block title %}Usuario{% endblock %}
{% block content %}
<div>
  <span>Nombre</span>
  <span>{{ object.nombre }}</span>
</div>
<div>
  <span>Apellidos</span>
  <span>{{ object.apellidos }}</span>
</div>
<div>
  <span>Género</span>
  <span>{{ object.genero }}</span>
</div>
<div>
  <span>Correo electrónico</span>
  <span>{{ object.correo_electronico }}</span>
</div>
<div>
  <span>Teléfono domicilio</span>
  <span>{{ object.telefono_domicilio }}</span>
</div>
<div>
  <span>Nombre de usuario</span>
  <span>{{ object.nombre_usuario }}</span>
</div>
<div>
  <span>Clave</span>
  <span>{{ object.clave }}</span>
</div>
<div>
  <span>Información anónima</span>
  <span>{{ object.informacion_anonima }}</span>
</div>
{% endblock %}
