{% extends "base.html" %}
{% load static %}

{% block title %}Eliminar usuario{% endblock %}
{% block content %}
<h3>¿Desea eliminar usuario {{ usuario.nombre_usuario }}?<h3>
  <form method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Eliminar</button>
  </form>
{% endblock %}