{% extends "base.html" %}
{% load static %}

{% block title %}Usuarios{% endblock %}
{% block content %}
<table>
  <thead>
    <th>Nombre</th>
    <th>Apellidos</th>
    <th>Género</th>
    <th>Correo electrónico</th>
    <th>Teléfono domicilio</th>
    <th>Nombre de usuario</th>
    <th>Clave</th>
    <th>Informacion anónima</th>
    <th>Editar</th>
    <th>Eliminar</th>
  </thead>
  <tbody>
    {% for object in object_list %}
    <tr>
      <td>
	{{ object.nombre }}
      </td>
      <td>
	{{ object.apellidos }}
      </td>
      <td>
	{{ object.genero }}
      </td>
      <td>
	{{ object.correo_electronico }}
      </td>
      <td>
	{{ object.telefono_domicilio }}
      </td>
      <td>
	<a href="{% url 'generic_usuario_detalles' object.nombre_usuario %}">{{ object.nombre_usuario }}</a>
      </td>
      <td>
	{{ object.clave }}
      <td>
	{{ object.informacion_anonima }}
      </td>
      <td>
	<a href="{% url 'generic_usuario_editar' object.nombre_usuario %}" class="btn btn-primary">Editar</a>
      </td>
      <td>
	<a href="{% url 'generic_usuario_eliminar' object.nombre_usuario %}" class="btn btn-danger">Eliminar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
