{% extends "base.html" %}
{% load static %}

{% block title %}Usuarios{% endblock %}
{% block content %}
<table>
  <thead>
    <th>Nombre</th>
    <th>Apellidos</th>
    <th>Género</th>
    <th>Correo electrónico</th>
    <th>Teléfono domicilio</th>
    <th>Nombre de usuario</th>
    <th>Clave</th>
    <th>Informacion anónima</th>
    <th>Editar</th>
    <th>Eliminar</th>
  </thead>
  <tbody>
    {% for usuario in usuarios %}
    <tr>
      <td>
	{{ usuario.nombre }}
      </td>
      <td>
	{{ usuario.apellidos }}
      </td>
      <td>
	{{ usuario.genero }}
      </td>
      <td>
	{{ usuario.correo_electronico }}
      </td>
      <td>
	{{ usuario.telefono_domicilio }}
      </td>
      <td>
	<a href="{% url 'usuario_detalles' usuario.nombre_usuario %}">{{ usuario.nombre_usuario }}</a>
      </td>
      <td>
	{{ usuario.clave }}
      <td>
	{{ usuario.informacion_anonima }}
      </td>
      <td>
	<a href="{% url 'usuario_editar' usuario.nombre_usuario %}" class="btn btn-primary">Editar</a>
      </td>
      <td>
	<a href="{% url 'usuario_eliminar' usuario.nombre_usuario %}" class="btn btn-danger">Eliminar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
