{% extends "base.html" %}
{% load static %}

{% block title %}Usuario{% endblock %}
{% block content %}
<div>
  <span>Nombre</span>
  <span>{{ usuario.nombre }}</span>
</div>
<div>
  <span>Apellidos</span>
  <span>{{ usuario.apellidos }}</span>
</div>
<div>
  <span>Género</span>
  <span>{{ usuario.genero }}</span>
</div>
<div>
  <span>Correo electrónico</span>
  <span>{{ usuario.correo_electronico }}</span>
</div>
<div>
  <span>Teléfono domicilio</span>
  <span>{{ usuario.telefono_domicilio }}</span>
</div>
<div>
  <span>Nombre de usuario</span>
  <span>{{ usuario.nombre_usuario }}</span>
</div>
<div>
  <span>Clave</span>
  <span>{{ usuario.clave }}</span>
</div>
<div>
  <span>Información anónima</span>
  <span>{{ usuario.informacion_anonima }}</span>
</div>
{% endblock %}
