{% extends "base.html" %}
{% load static %}

{% block title %}Login{% endblock %}
{% block content %}
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <button class="btn btn-primary" type="submit">Login</button>
</form>
{% endblock %}