{% extends "base.html" %}
{% load static %}

{% block title %}Canciones{% endblock %}
{% block content %}
<div>
  <div id="formContainer">
    {{ form.as_p }}
  </div>
  <button class="btn btn-primary" onclick="saveData()">Save</button>
</div>
<br/>
<table>
  <thead id="tableHead">
  </thead>
  <tbody id="tableBody">
  </tbody>
</table>
<script type="text/javascript">
 var tableHead = document.getElementById("tableHead");
 var tableBody = document.getElementById("tableBody");
 var formContainer = document.getElementById("formContainer");

 function saveData() {
   var url = "{% url 'api_cancion_createview' %}";
   var jsonData = {};
   for (var p of formContainer.children) {
     for (var child of p.children) {
       if (child.nodeName == "INPUT") {
	 jsonData[child.name] = child.value;
       }
     }
   }
   var params = {
     method: "POST",
     headers: new Headers({
       "Accept": "application/json",
       "Content-Type": "application/json"
     }),
     body: JSON.stringify(jsonData)
   }
   fetch(url, params).then(fetchData);
 }

 function fetchData() {
   var url = "{% url 'api_cancion_listview' %}";
   fetch(url)
     .then(function(response) {
       return response.json();
     })
     .then(function(data) {
       var headData = "";
       var bodyData = "";
       for (var name in data[0]) {
	 headData += "<th>" + name + "</th>";
       }
       for (var row of data) {
	 bodyData += "<tr>";
	 for (var name in row) {
	   bodyData += "<td>" + row[name] + "</td>";
	 }
	 bodyData += "</tr>";
       }
       tableHead.innerHTML = headData;
       tableBody.innerHTML = bodyData;
     });
 }
 fetchData();
</script>
{% endblock %}
