{% extends "base.html" %}
{% load static %}

{% block title %}Canciones{% endblock %}
{% block content %}
<table>
  <thead>
    <th>Id</th>
    <th>Título</th>
    <th>Autor</th>
    <th>Duración</th>
    <th>Fecha de lanzamiento</th>
    <th>Versión</th>
    <th>Fecha de grabación</th>
    <th>Lenguaje</th>
    <th>Editar</th>
    <th>Eliminar</th>
  </thead>
  <tbody>
    {% for cancion in canciones %}
    <tr>
      <td>
	<a href="{% url 'cancion_detalles' cancion.id %}">{{ cancion.id }}</a>
      </td>
      <td>
	{{ cancion.titulo }}
      </td>
      <td>
	{{ cancion.autor }}
      </td>
      <td>
	{{ cancion.duracion }}
      </td>
      <td>
	{{ cancion.fecha_lanzamiento }}
      </td>
      <td>
	{{ cancion.version }}
      </td>
      <td>
	{{ cancion.fecha_grabacion }}
      </td>
      <td>
	{{ cancion.lenguaje }}
      </td>
      <td>
	<a href="{% url 'cancion_editar' cancion.id %}" class="btn btn-primary">Editar</a>
      </td>
      <td>
	<a href="{% url 'cancion_eliminar' cancion.id %}" class="btn btn-danger">Eliminar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
