{% extends "base.html" %}
{% load static %}

{% block title %}Canción{% endblock %}
{% block content %}
<div>
  <span>Id</span>
  <span>{{ cancion.id }}</span>
</div>
<div>
  <span>Título</span>
  <span>{{ cancion.titulo }}</span>
</div>
<div>
  <span>Autor</span>
  <span>{{ cancion.autor }}</span>
</div>
<div>
  <span>Duración</span>
  <span>{{ cancion.duracion }}</span>
</div>
<div>
  <span>Fecha de lanzamiento</span>
  <span>{{ cancion.fecha_lanzamiento }}</span>
</div>
<div>
  <span>Versión</span>
  <span>{{ cancion.version }}</span>
</div>
<div>
  <span>Fecha de grabación</span>
  <span>{{ cancion.fecha_grabacion }}</span>
</div>
<div>
  <span>Lenguaje</span>
  <span>{{ cancion.lenguaje }}</span>
</div>
{% endblock %}
