{% extends "base.html" %}
{% load static %}

{% block title %}Canciones{% endblock %}
{% block content %}
<table>
  <thead>
    <th>Id</th>
    <th>Título</th>
    <th>Autor</th>
    <th>Duración</th>
    <th>Fecha de lanzamiento</th>
    <th>Versión</th>
    <th>Fecha de grabación</th>
    <th>Lenguaje</th>
    <th>Editar</th>
    <th>Eliminar</th>
  </thead>
  <tbody>
    {% for object in object_list %}
    <tr>
      <td>
	<a href="{% url 'generic_cancion_detalles' object.id %}">{{ object.id }}</a>
      </td>
      <td>
	{{ object.titulo }}
      </td>
      <td>
	{{ object.autor }}
      </td>
      <td>
	{{ object.duracion }}
      </td>
      <td>
	{{ object.fecha_lanzamiento }}
      </td>
      <td>
	{{ object.version }}
      </td>
      <td>
	{{ object.fecha_grabacion }}
      </td>
      <td>
	{{ object.lenguaje }}
      </td>
      <td>
	<a href="{% url 'generic_cancion_editar' object.id %}" class="btn btn-primary">Editar</a>
      </td>
      <td>
	<a href="{% url 'generic_cancion_eliminar' object.id %}" class="btn btn-danger">Eliminar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
