{% extends "base.html" %}
{% load static %}

{% block title %}Canción{% endblock %}
{% block content %}
<div>
  <span>Id</span>
  <span>{{ object.id }}</span>
</div>
<div>
  <span>Título</span>
  <span>{{ object.titulo }}</span>
</div>
<div>
  <span>Autor</span>
  <span>{{ object.autor }}</span>
</div>
<div>
  <span>Duración</span>
  <span>{{ object.duracion }}</span>
</div>
<div>
  <span>Fecha de lanzamiento</span>
  <span>{{ object.fecha_lanzamiento }}</span>
</div>
<div>
  <span>Versión</span>
  <span>{{ object.version }}</span>
</div>
<div>
  <span>Fecha de grabación</span>
  <span>{{ object.fecha_grabacion }}</span>
</div>
<div>
  <span>Lenguaje</span>
  <span>{{ object.lenguaje }}</span>
</div>
{% endblock %}
